body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	background: #111;
  }

  input[type=text] {
	background-color: #329ce4;
	border: none;
  }
  
  